# flyctl launch added from .gitignore
# The directory Mix will write compiled artifacts to.
_build

# If you run "mix test --cover", coverage assets end up here.
cover

# The directory Mix downloads your dependencies sources to.
deps

# Where 3rd-party dependencies like ExDoc output generated docs.
doc

# Ignore .fetch files in case you like to edit your project deps locally.
.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
**/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
**/*.ez

# Temporary files, for shopper, from tests.
tmp



# flyctl launch added from apps/shopper/.gitignore
# The directory Mix will write compiled artifacts to.
apps/shopper/_build

# If you run "mix test --cover", coverage assets end up here.
apps/shopper/cover

# The directory Mix downloads your dependencies sources to.
apps/shopper/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
apps/shopper/doc

# Ignore .fetch files in case you like to edit your project deps locally.
apps/shopper/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
apps/shopper/**/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
apps/shopper/**/*.ez

# Ignore package tarball (built via "mix hex.build").
apps/shopper/**/shopper-*.tar

# flyctl launch added from apps/shopper_web/.gitignore
# The directory Mix will write compiled artifacts to.
apps/shopper_web/_build

# If you run "mix test --cover", coverage assets end up here.
apps/shopper_web/cover

# The directory Mix downloads your dependencies sources to.
apps/shopper_web/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
apps/shopper_web/doc

# Ignore .fetch files in case you like to edit your project deps locally.
apps/shopper_web/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
apps/shopper_web/**/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
apps/shopper_web/**/*.ez

# Ignore package tarball (built via "mix hex.build").
apps/shopper_web/**/shopper_web-*.tar

# Ignore assets that are produced by build tools.
#apps/shopper_web/priv/static/assets

# Ignore digested assets cache.
#apps/shopper_web/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
apps/shopper_web/**/npm-debug.log
apps/shopper_web/assets/node_modules

